header{
	color: black;
	background-color: rgba(194, 145, 46, 0.884);
	text-align: center;
}
body{
	background-color: rgb(248, 221, 170);
}
nav{
	background-color: rgb(194, 145, 46, 0.884);
	text-align: center;
}
ul{
	list-style-type: none;
	display: contents;
}
h1{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
	text-align: justify;
}
figure{
	text-align: center;
}
img{
	width: 400px;
	align-items: center;
}
footer{
	text-align: end;
	background-size: contain;
	font-size: small;
}