header {
	text-align: center;
	color: black;
	background-color: rgba(194, 145, 46, 0.884);
	padding: 5px;
}
.fijo{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    background-color: transparent; 
    z-index: 999;
}
h1{
    text-align: center;
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
	background-color: rgb(248, 221, 170);
}
nav{
	background-color: rgb(194, 145, 46, 0.884);
	text-align: center;
}
@keyframes girar {
	from {
	  transform: rotateY(0deg);
	}
	to {
	  transform: rotateY(360deg);
	}
}
.curza_logo{
    float: right;	
	animation: girar 5s 1 forwards;
}
.curza_logo img {
	width: 200px;
	height: 200px;
}


.formulario{
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin-top: 80px;
}
.actualizar{
    margin-bottom: 10%;
    margin-top: 35%;
}
li{
    margin: 10px;
    padding: 2px;
}
ol{
    margin: 0;
    padding: 0;
}
.form-group{
    margin: 10px;
    padding: 2px;
}
.tabla{
    margin-top: 100px;
    width: 100%;
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1;
}
tr, td, th{
    border: 1px solid #000;
    padding: 3px;
}
td, th {
    min-width: 100px; 
    min-height: 50px; 
    width: 25%;
    border: 1px solid #ccc;
}
.arrow-up{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: center;
	justify-items: center;
	position: fixed;
	bottom: 20px;
	right: 20px;
}
.arrow-up::before{
	content: "\25B2";
	font-size: 24px;
}